@import "reset.styl"
@import "vue-animations.styl"

*
  box-sizing border-box

body
  background url('https://www.privat24.ua/img/bg.png')
  font-family Arial, "Helvetica Neue", Helvetica, sans-serif
  font-size 14px

.header
  padding 0 10px 0 10px
  width 100%
  height 40px
  @media screen and (max-width: 600px)
    height auto
  display flex
  justify-content space-between
  align-items center
  background-color: green
  box-shadow 0 2px 4px rgba(0,0,0,0.3)
  font-family 'Cousine', monospace
  text-transform uppercase
  font-weight bold

  &__navigation
    display flex
    @media screen and (max-width: 600px)
      opacity 0
      flex-grow 1
      flex-direction column
      align-items center

  &__link
    align-self center
    padding 12px
    color #eee
    text-decoration none

    &.router-link-exact-active
      color white
      position relative

      &:after
        content: ''
        position absolute
        bottom 0
        left 0
        right 0
        height 1px
        background-color white

.box
  background-color #F5F5F5
  border 1px solid #b8b8b8
  border-radius 3px
  box-shadow: 0 0 0 1px rgba(255,255,255,0.5) inset
  margin 5px
  flex-grow 1

  &--basis
    flex-basis 220px

  &--hr
    width 100%

  &--flexed-inside
    display flex
    flex-wrap wrap

  &--nowrap
    flex-wrap nowrap

  &--25
    width 25%
    padding 5px

  &--50
    width 50%

  &__control
    margin 10px

  &--full-width
    padding 5px
    width 100%

  &__title
    font-size 15px
    margin 0

  &__header
    background-color #DBDBDB
    padding 10px

  &--router
    width 100%

.wrapper
  display flex
  flex-wrap wrap

.btn
  margin-right 10px
  color white
  background-color #008000
  border 1px solid black
  border-bottom 3px solid black
  padding 7px
  border-radius 3px
  cursor pointer
  transition all .2s ease

  &:hover
    background-color #009000

  &:active
    background-color #007000
    border-bottom 1px solid black

