<template>
  <section class="box box--min-height">
    <div class="box__header">
      <h3 class="box__title">
        Содержимое хранилища (отладка)
      </h3>
    </div>
    <div class="box__body box--flexed-inside" v-if="currencies.length === 0">
      <div class="box__control">Хранилище обновляется, подождите...</div>
    </div>
    <div class="box__body box--flexed-inside box__control" v-else v-for="currency in currencies" :key="currency.buy">
      <div class="box--25">Базовая валюта: {{ currency.base_ccy }}</div>
      <div class="box--25">Конверсия в: {{ currency.ccy }}</div>
      <div class="box--25">Курс покупки: {{ currency.buy }}</div>
      <div class="box--25">Курс продажи: {{ currency.sale }}</div>
      <hr class="box--hr">
    </div>
  </section>
</template>

<script>
/* eslint no-trailing-spaces: 0 */
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState(['currencies'])
  }
}
</script>
