<template>
  <header class="header">
    <nav class="header__navigation" :class="{ active: isMenuVisible }">
      <router-link class="header__link" to="/">Домашняя</router-link>
      <router-link class="header__link" to="/input">Ввод средств</router-link>
      <router-link class="header__link" to="/currency">Выбор курса</router-link>
      <router-link class="header__link" to="/results">Результаты</router-link>
    </nav>
    <a v-click-outside="hideMenu" @click="isMenuVisible = !isMenuVisible" class="header__burger" :class="{ active: isMenuVisible }">
      <div></div>
      <div></div>
      <div></div>
    </a>
  </header>
</template>

<script>
import ClickOutside from 'vue-click-outside'
export default {
  data: () => ({
    isMenuVisible: false
  }),
  methods: {
    hideMenu () {
      this.isMenuVisible = false
    }
  },
  directives: {
    ClickOutside
  }
}
</script>

<style lang="stylus">
  .header
    &__navigation
      max-height 40px
      transition all .6s ease
      height 40px
      &.active
        max-height 500px
        opacity 1
        height auto
    &__burger
      visibility hidden
      @media screen and (max-width 600px)
        visibility visible
      position absolute
      right 5px
      top 5px
      align-self flex-start
      cursor pointer
      height 30px
      display flex
      flex-direction column
      align-items center
      justify-content space-evenly
      & > div
        transition all .4s ease
        width: 30px
        height 2px
        background-color white
        transform-origin 4px
      &.active
        & > div:nth-child(1)
          transform rotate3d(0, 0, 1, 45deg)
        & > div:nth-child(3)
          transform rotate3d(0, 0, 1, -45deg)
        & > div:nth-child(2)
          opacity 0
</style>
