<template>
  <section class="box box--min-height box--basis">
    <div class="box__header">
      <h3 class="box__title">Произведенные транзакции</h3>
    </div>
    <div class="box__body">
      <div class="box__control" v-if="histories.length === 0">
        Транзакции не производились.
      </div>
      <div class="box__body box--flexed-inside box__control" v-else v-for="(item, index) in histories" :key="index">
        <div class="box--50">Введено: {{ item.picked }} {{ item.base_ccy }}</div>
        <div class="box--50">Получено: {{ item.symbol }}{{ item.result_ccy }}</div>
        <hr class="box--hr">
      </div>
    </div>
  </section>
</template>

<script>
/* eslint no-trailing-spaces: 0 */

import { mapState } from 'vuex'

export default {
  computed: mapState(['histories'])
}
</script>
