<template>
  <section class="box box--router">
    <div class="box__header">
      <h3 v-if="pickedCurrency.length === 0" class="box__title">Обмен по курсу (значение не выбрано)</h3>
      <h3 v-else class="box__title">Обмен по курсу {{ pickedCurrency }}</h3>
    </div>
    <div class="box__body">
      <div class="box__control" v-if="pickedCurrency.length === 0">Обмен по курсу (значение не выбрано)</div>
      <div class="box__control">Доступные пары: </div>
      <div class="box__control" v-for="currency in currencies" :key="currency.buy">
        <input title="currency" type="radio" :value="currency.buy" v-model="pickedCurrency">
        {{ currency.base_ccy }} -> {{ currency.ccy }}
      </div>
      <div class="box__control box--flexed-inside box--nowrap">
        <button class="btn" @click="convert">Конвертировать</button>
        <button class="btn" @click="redirectBack">Отменить</button>
      </div>
    </div>
  </section>
</template>

<script>
/* eslint no-trailing-spaces: 0 */
import { mapState } from 'vuex'

export default {
  data: function () {
    return {
      pickedCurrency: this.$cookie.get('currency') || ''
    }
  },

  mounted () {
    // if (this.enteredMoney.length === 0) this.$router.push('/input')
  },

  methods: {
    convert () {
      this.$store.dispatch('performConversion', this.pickedCurrency)
      this.$router.push('/results')
    },

    redirectBack () {
      this.$store.commit('pushData', { field: 'enteredMoney', payload: '' })
      this.$router.push('/')
    }
  },

  computed: mapState(['currencies', 'enteredMoney']),

  watch: {
    pickedCurrency (val) {
      this.$cookie.set('currency', val)
    }
  }
}
</script>
