<template>
  <section class="box box--router">
    <div class="box__header">
      <h3 class="box__title">Ввод</h3>
    </div>
    <div class="box__body box--flexed-inside">
      <div class="box__control" v-if="isInputBlank">Поле пусто</div>
      <div class="box__control" v-else>Вы ввели: {{ money }}</div>
      <input class="box__control box--full-width" title="input" type="text" v-model="money">
      <div class="box__control">
        <button class="btn" @click="submitAndContinue">Подтвердить</button>
        <button class="btn" @click="clear">Очистить</button>
      </div>
    </div>
  </section>
</template>

<script>
/* eslint no-trailing-spaces: 0 */
import { mapState } from 'vuex'

export default {
  data: function () {
    return {
      money: this.$store.state.enteredMoney
    }
  },

  computed: {
    ...mapState(['enteredMoney']),

    isInputBlank () {
      return this.money.length === 0
    }
  },

  methods: {
    submitAndContinue () {
      if (this.isInputBlank) alert('Поле пусто! Введите данные')
      this.$store.commit('pushData', { field: 'enteredMoney', payload: this.money })
      this.$router.push('/currency')
    },

    clear () {
      this.$store.commit('pushData', { field: 'enteredMoney', payload: '' })
      this.money = ''
    }
  }
}
</script>
