<template>
  <section class="box box--router">
    <div class="box__header">
      <h3 class="box__title">Результаты</h3>
    </div>
    <div class="box__body">
      <div class="box__control" v-if="item === undefined">Конверсии не производились</div>
      <div class="box__control" v-else> Получено: {{ item.symbol }}{{ item.result_ccy }} </div>
      <div class="box__control">
        <button class="btn" @click="$router.push('/')">Вернуться в начало</button>
      </div>
    </div>
  </section>
</template>

<script>
/* eslint no-trailing-spaces: 0 */
import { mapGetters } from 'vuex'

export default {
  computed: {
    ...mapGetters({
      item: 'getLatestConversion'
    })
  }
}
</script>
