<template>
 <section class="box box--router">
   <div class="box__header">
     <h3 class="box__title">
       Добро пожаловать! Нажмите <router-link to="/input">далее</router-link> для начала операций
     </h3>
   </div>
   <div class="box__body">
   </div>
 </section>
</template>

<script>
export default {
  name: 'Root',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>
