<template>
  <div id="app">
    <app-header/>
    <div class="wrapper">
      <transition name="fade" mode="out-in">
        <router-view/>
      </transition>
      <app-history/>
      <app-debug/>
    </div>
  </div>
</template>

<script>
/* eslint no-trailing-spaces: 0 */
import AppHistory from './components/AppHistory'
import AppDebug from './components/AppDebug'
import AppHeader from './components/AppHeader'

export default {
  name: 'App',
  mounted () {
    this.$store.dispatch('fetchCurrencies')
  },
  components: { AppHistory, AppDebug, AppHeader }
}
</script>

<style lang="stylus">
  @import './assets/styl/main.styl'

</style>
